<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Email Address:</b>
  <%= @user.email %>
</p>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<h2>Lenses</h2>
<%= render @user.lenses %>

<h2>Add a Lens:</h2>
<%= render "lenses/form" %>

<% if can? :dosomething_roles, @user %>
<p>
  <b>Roles:</b>
  <%= @user.roles_names %>
</p>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

